.navbar {
    top: -10px;
    background: #fff;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    z-index: 4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky; top: 0
  }
  
  .navbar-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .navbar-logo img {
    width: 57px;
    height: 42px;
  }
  
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 0px;
  }
  
  .nav-links {
    color: #474747;
    font-weight: 30;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: rgba(148, 203, 255, 0.5);
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: black;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .nav-item {
      display: flex;
      align-items: center;
      height: 1000px;
    }

    .NavbarItems {
      position: absolute;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 60vh;
      position: absolute;
      top: 75px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: white;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      position: absolute;
      height: 15rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .nav-links {
      text-align: center;
      padding: 0.5rem;
      width: 100%;
      position: absolute;
      color: #474747;
    }
  
    .nav-links:hover {
      background-color: rgba(148, 203, 255, 0.5);
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: black;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #1888ff;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
      position: fixed;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #1888ff;
      transition: 250ms;
    }
  
    .navbar button {
      display: none;
    }
  }
